{{#if isTemplate}}
<h3 class="form-header">{{ localize "midi-qol.itemProperties.title" }}</h3>
`<div class="form-group">
  <label>{{localize "midi-qol.FumbleThreshold.Name"}}</label>
  <div class="form-fields">
    <input type="Number" name="flags.midi-qol.fumbleThreshold" value="${currentFumble}" />
  </div>
</div>`
{{#if configSettings.allowUseMacro}}
<h4 class="damage-header">{{localize "midi-qol.onUseMacroLabel"}}
<a class="macro-control damage-control edit-macro"><i class="fas fa-file-pen"></i></a>
<a class="macro-control damage-control add-macro"><i class="fas fa-plus"></i></a>
</h4>
<ol class="damage-parts onusemacro-group form-group">
  {{#each macros}}
  
  <lbael></lbael>
  const labelText = i18n("midi-qol.onUseMacroLabel");
  const macros = new OnUseMacros(getProperty(app.object, "flags.midi-qol.onUseMacroName"));
  const macroField = `
    <h4 class="damage-header">${labelText}
      <a class="macro-control damage-control edit-macro"><i class="fas fa-file-pen"></i></a>
      <a class="macro-control damage-control add-macro"><i class="fas fa-plus"></i></a>
    </h4>
    <ol class="damage-parts onusemacro-group form-group">
    ${macros.selectListOptions}
  </ol>`;
  element.append(macroField)
}
{{/if}}
{{/if}}